# Local
VITE_BACKEND_URL=/v1     # backend URL, proxied to http://localhost:3000 by Vite
VITE_BOARD_IMAGES_BUCKET=http://127.0.0.1:54321/storage/v1/object/public/board-headshots/    # bucket URL
VITE_EVENT_FLYERS_BUCKET=http://127.0.0.1:54321/storage/v1/object/public/event-flyers/    # bucket URL

# Remote prod
# VITE_BACKEND_URL=https://api.nyu-sjba.org/v1    # backend URL
# VITE_BOARD_IMAGES_BUCKET=https://ivhsrdfhjxtrxvrwswuk.supabase.co/storage/v1/object/public/board-headshots/      # bucket URL
# VITE_EVENT_FLYERS_BUCKET=https://ivhsrdfhjxtrxvrwswuk.supabase.co/storage/v1/object/public/event-flyers/         # bucket URL
